<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
  <h2 align="center">{{product.category}}</h2>
  Product Name: {{product.name}}<br>
  Description: {{product.desc}}<br>
  Product Price: ₹ {{product.price}}<br>
  <img src="{{product.img.url}}" alt="" style="width:350px;height:300px"><br>
  <a class="btn btn-warning" href="{% url 'update' product.id %}">UPDATE</a>
  <a class="btn btn-warning" href="{% url 'delete' product.id %}">DELETE</a>

</body>
</html>